<div class="container-fluid py-3">
  <h1>My Contacts</h1>
  <%= render 'contacts', contacts: @contacts %>
  <div class="digg_pagination">
    <%= will_paginate @contacts, :container => false %>
  </div>
</div>
