<div class="modal fade" id="csv_modal" tabindex="-1" role="dialog" aria-labelledby="csv_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="csv_modal_label">Upload Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          We advise download <a href="<%= download_csv_contacts_path(format: "csv") %>" class="alert-link">csv layout</a> to uploading.
        </div>
        <%= link_to "download layout", download_csv_contacts_path(format: "csv"), class: "btn btn-outline-primary my-2 my-sm-0 mr-sm-2", id: "download-csv" %>
        <br><br>
        <%= form_tag(import_csv_contacts_path(), method: :post, multipart: true) do |form| %>
          <div class="hidden_form">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="csv_file", name="csv_file" accept="text/csv" required>
                <label class="custom-file-label" for="csv_file">Choose file...</label>
              </div>
            </div><br>
            <div class="form-group">
              <button class="btn btn-outline-info my-2 my-sm-0 mr-sm-2" type="submit">Upload</button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
